section {
  padding: 10% 10%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  gap: 2rem;
}

.row2 {
  position: relative;
  transform: all 0.4s;
}

@media (max-width: 800px) {
  section {
    padding: 5% 5%;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1rem;
  }
}
